.body{
    background-color: black;
}

.titleService{
    text-align: center;
    color: antiquewhite;
}
.textService{
    text-align: center;
    color: antiquewhite;
}

.titleAbaut{
    text-align: center;
    color: antiquewhite; 
}
.textAbaut{
    text-align: center;
    color: antiquewhite;
}